<div class="container buscador">
  <div class="input-container">
    <!-- <div>
        <input
          type="text"
          (keyup)="capturarTexto($event)"
          class="input"
          placeholder="Buscar"
        />
        <i class="fa fa-search search-icon" style="color: black"></i>
      </div> -->
  </div>
</div>
@if(!loading){
<div class="tabla">
  <p-table
    [value]="facturas"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="20"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="proveedor" style="width: 30%">
          Proveedor<p-sortIcon field="code" />
        </th>
        <th pSortableColumn="cif" style="width: 20%">
          Cif <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="importe" style="width: 10%">
          Importe <p-sortIcon field="category" />
        </th>
        <th pSortableColumn="iva" style="width: 10%">
          Iva <p-sortIcon field="quantity" />
        </th>
        <th pSortableColumn="quantity" style="width: 10%">
          I. Total <p-sortIcon field="quantity" />
        </th>
        <th pSortableColumn="fecha" style="width: 20%">
          Fecha <p-sortIcon field="quantity" />
        </th>
        <th style="width: 20%">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr [ngClass]="{ 'warning': product.incomplete }">
        <td>{{ product.proveedor }}
          @if(product.incomplete){
            <span><img src="../../../../assets/images/alerta.webp" alt="factura incompleta" width="35px"></span>
          }
        </td>
        <td>{{ product.cif }}</td>
        <td>{{ product.importe }}</td>
        <td>{{ product.iva }}</td>
        <td>{{ product.importeTotal }}</td>
        <td style="background-color: white">{{ formatDate(product.fecha) }}</td>
        @if(product.url){
        <td style="cursor: pointer" (click)="seePhoto(product.url)">
          <img src="../../../../assets/images/jpg.jpg" width="35px" />
        </td>
        } @if(!product.url){
        <td></td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>
}@else {
<app-matrix></app-matrix>
}
