<!-- <footer
  class="text-center text-lg-start text-white justify-content-center"
  style="background-color: rgb(20, 21, 50)"
>
  <div class="text-center p-3" style="color: black">
    <span style="color: white;">© 2025&nbsp;by&nbsp;</span>
  </div>
</footer> -->
<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 col-12 mt-4 mb-4">
        <img src="../../../assets/images/logo-little.jpg" alt="" width="150px"/>
      </div>
      <div class="col-md-4 col-12 mb-2">
        <h6>Contacto</h6>
        <p>
          📍 Av. Martín Palomino  nº 5<br>
          📞 +34 666 666 666<br>
          ✉️ zssolutions&#64;gmail.com
        </p>
      </div>
      <div class="col-md-4 col-12 mb-2">
        <h6>Síguenos</h6>
        <div class="social-links">
          <a href="#"><img src="../../../assets/images/instagram.png" width="30px"/></a>
          <a href="#"><img src="../../../assets/images/facebook.png" width="30px"/></a>
        </div>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; 2025 <span class="text-info" style="font-size: 22px;">ZSS</span>.</p>
    </div>
  </div>
</footer>
