
html, body {
  height: 100%;
  margin: 0;
}

/* Contenedor principal */
.main {
position: relative;
  flex: 1;
  padding: 0;
  min-height: calc(100vh - 120px); 
  display: flex;
  flex-direction: column; /* importante */
  align-items: stretch; /* o auto */
  justify-content: flex-start; /* o auto */
  height: 100%;
  overflow: auto; /* Permitir scroll si es necesario */
}

.main::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../assets/images/fondo-little.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 0;
  pointer-events: none; 
}

.main::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: transparent;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none; 
}

.main > * {
  position: relative;
  z-index: 2;
}


/* Estilos responsivos para el contenedor principal */
@media (max-width: 768px) {
  .main {

  }
}

