
/* Contenedor principal */
.main {
  position: relative;
  flex: 1;
  padding: 1rem;
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../assets/images/fondo-little.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 0;
  pointer-events: none; 
}

.main::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none; 
}

.main > * {
  position: relative;
  z-index: 2;
}


/* Estilos responsivos para el contenedor principal */
@media (max-width: 768px) {
  .main {
    padding: 0.5rem; /* Reducir el padding en dispositivos más pequeños */
  }
}

