<div class="card">
  <p-tabs value="0" >
    <p-tablist>
      <p-tab value="0" style="color: black;">Fichar</p-tab>
      <p-tab value="1" style="color: black;">Listado</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <p class="m-0">
          <app-anadir-fichejes></app-anadir-fichejes>
        </p>
      </p-tabpanel>
      <p-tabpanel value="1">
        <p class="m-0">
         <app-listado-fichajes-user></app-listado-fichajes-user>
        </p>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
