.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  align-items: center;
  gap: 1rem;
}

.tab-button {
  padding: 0.75rem 1.5rem;
  border: none;
  background: transparent; /* fondo transparente */
  cursor: pointer;
  font-weight: bold;
  color: rgb(95, 91, 91);
  outline: none;
  transition: color 0.3s;
}

.tab-button.active {
  color: rgb(7, 146, 14);
font-weight: bold;
}

.tab-button:hover {
  color: thistle;
}

.tab-content {
  padding: 1rem 0;
}
