:host ::ng-deep .p-tablist-tab-list {
  background: #fff !important;
  border-color: #ccc !important;
  display: flex !important;
  justify-content: center !important;
  color: black !important;
}

:host ::ng-deep .p-tabpanels {
  /* background: #ffffff !important; */
    background-color: transparent !important;
}

:host ::ng-deep .p-tab-active {
  /* background: red !important; */
  font-weight: bold !important;
  color:rgb(7, 146, 14) !important;
}
.card{
  border: none !important;
}