<div class="row justify-content-center">
  <div class="col-12 col-lg-10 ">
    <div class="chat">
      <div class="chat-container">
        <div class="title">
          <span
            >Hola , soy tu asistente
            <strong>{{ capitalize(chatTipo) }} de </strong>&nbsp;</span><span class="text-info" style="font-size: 24px;">ZSS</span>
        </div>
        <div class="chat-box" #chatBox  *ngIf="!loading; else Notloading">
          @for (msg of messages; track $index) {
            <div class="message" [ngClass]="msg.role">
              {{ msg.content }}
            </div>
          }    
        </div>
        <ng-template #Notloading>
          <div class="loading">
            <app-loading></app-loading>c
          </div>      
        </ng-template>
        <div class="chat-input">
          <input [(ngModel)]="inputText" placeholder="Escribe tu mensaje..." />
          <button (click)="sendMessage()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
